.cart{
    position: sticky;
    top: 0;
    padding: 20px;
}

.cart-title{
    text-align: center;
}
.order-details{
    padding: 23px;
}
.clear-btn{
    height: 48px;
    width: 232px;
    margin: 10px 16px;
    border: none;
    background: #FF3030;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear-btn p{
    margin-right: 10px;
}
.review-btn{
    height: 48px;
    width: 232px;
    margin: 10px 16px;
    border: none;
    background: #FF9900;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-btn p{
    margin-right: 10px;
}